header,
body {
  font-family: system-ui;
}

header {
  width: 1263px;
  height: 100px;
  background: #917de3;
  margin: -8px -8px 0px -8px;
}

header img {
  position: absolute;
  display: inline-block;
  margin: 25px 0 0 25px;
  width: 200px;
  height: 50px;
}

header div.header_menu {
  font-size: 16px;
  padding-top: 38px;
  margin-left: 225px;
}

header div.header_menu ul {
  display: inline;
}

header div.header_menu li {
  display: inline;
  padding: 0px 50px 0px 40px;
  border-right: 4px dotted white;
}

header div.header_menu li:last-child {
  border-right: none;
}

header div.header_menu li:first-child {
  padding-left: 100px;
}

header div.header_menu a {
  display: inline;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

header div.header_menu a:hover {
  border-bottom: 2px solid white;
}

body div.main_page {
  background: url(orange_back.jpg);
  width: 1263px;
  margin-left: -8px;
}

body div.main_page img {
  width: 1263px;
  margin-top: -3px;
  height: 100%;
}

body div.main_page h1,
p {
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  margin-bottom: 35px;
}

body div.main_page h1 {
  margin: 35px 400px;
  border-radius: 50px;
  padding: 10px;
  background: #339af0;
}

body div.main_page p:last-child {
  padding-bottom: 35px;
  margin-bottom: 4px;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  left: 822.5px;
  top: 37.5px;
  background: #339af0;
  color: white;
  padding: 5px;
}

[data-tooltip]:hover::after {
  opacity: 1;
}

footer {
  margin: 0 0px -8px -8px;
  width: 1263px;
  height: 100px;
  background-image: url(bottom.jpg);
  border-top: 4px solid white;
}

footer img {
  position: absolute;
  display: inline-block;
  margin: 25px 0 0 25px;
  width: 200px;
  height: 50px;
}

footer div.footer_menu {
  margin-left: 210px;
  color: white;
}

footer div.footer_menu ul li {
  list-style-type: none;
}

footer div.footer_menu h3 {
  margin: -50px 0 0 400px;
}
