header,
body {
  font-family: system-ui;
}

body ul li {
  list-style-type: none;
}

header {
  width: 1263px;
  height: 100px;
  background: #917de3;
  margin: -8px -8px 0 -8px;
}

header img {
  position: absolute;
  display: inline-block;
  margin: 25px 0 0 25px;
  width: 200px;
  height: 50px;
}

header div.header_menu {
  font-size: 16px;
  padding-top: 38px;
  margin-left: 225px;
}

header div.header_menu ul {
  display: inline;
}

header div.header_menu li {
  display: inline;
  padding: 0 50px 0 40px;
  border-right: 4px dotted white;
}

header div.header_menu li:hover {
  padding: 0 40px 0 30px;
}

header div.header_menu li:first-child:hover {
  padding: 0 40px 0 90px;
}

header div.header_menu li:last-child {
  border-right: none;
}

header div.header_menu li:first-child {
  padding-left: 100px;
}

header div.header_menu a {
  display: inline;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

header div.header_menu a:hover {
  background: black;
  padding: 5px 10px;
  border-radius: 15px;
  border-bottom: 2px solid white;
}

body div.main_page {
  background: url(img/orange_back.jpg);
  width: 1263px;
  margin-left: -8px;
}

body div.main_page img {
  width: 1263px;
  margin-top: -3px;
  height: 100%;
}

body div.main_page h1,
p {
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  margin-bottom: 35px;
}

body div.main_page h1 {
  margin: 35px 400px;
  border-radius: 50px;
  padding: 10px;
  background: #339af0;
}

body div.main_page p:last-child {
  padding-bottom: 35px;
  margin-bottom: 4px;
}

body div.list {
  position: relative;
  margin-left: -8px;
}

body div.list div.menu {
  position: absolute;
  top: 100px;
  left: 820px;
}

body div.list div.menu li {
  margin-right: -8px;
  text-align: justify;
  margin-bottom: 120px;
  padding: 2px 20px;
}

body div.list div.menu li:hover {
  color: white;
  background: #cfcfcf;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 0 25px 30px #cfcfcf;
  transition: all 1s ease-out;
}

body div.list div.menu li:hover img {
  transition: all 1s ease-out 0.5s;
  border: 4px solid white;
}

body div.list div.menu li img {
  margin-top: 20px;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 4px dotted #cfcfcf;
  border-radius: 100px;
}

body div.list div.menu h4 {
  padding: 15px 0 15px 100px;
}

body div.about p, body div.school p {
  text-align: justify;
  text-indent: 30px;
  color: black;
}

body div.about div.reasons img {
  width: 175px;
  height: 175px;
  position: absolute;
  right: 540px;
  top: 1320px;
}

body div.news div.block {
  width: 550px;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

body div.news div.block h4 {
  margin: 20px 15px;
  padding: 10px;
  display: inline-block;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  text-align: center;
}

body div.news div p {
  text-indent: 30px;
  padding: 0 15px;
  color: black;
  text-align: justify;
}

body div.mailing button {
  width: 125px;
  height: 35px;
  border-radius: 20px;
  border: 4px solid #917de3;
}

body div.right_menu {
  margin-top: -40px;
  position: relative;
  margin-left: 1180px;
  height: 100%;
  width: 75px;
  background: #90cc54;
}

body div.right_menu ul {
  margin: 0 0 20px -34px;
}

body div.right_menu ul li img {
  position: absolute;
}

body div.right_menu ul li .a_block {
  opacity: 0;
  width: 250px;
  height: 41.5px;
  background: #cfcfcf;
  margin-left: -256px;
  padding-top: 22px;
  position: relative;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

body div.school table.table {
	width: 100%;
	border: 2px solid black;
	margin-bottom: 20px;
}

body div.school table.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

body div.school table.table tbody td {
	text-align: center;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: center;
}

body div.school table.table thead tr th:first-child, body div.school table.table tbody tr td:first-child {
	border-left: none;
}

body div.school table.table thead tr th:last-child, body div.school table.table tbody tr td:last-child {
	border-right: none;
}


footer {
  margin: 0 0 -8px -8px;
  width: 1263px;
  height: 100px;
  background-image: url(img/bottom.jpg);
  border-top: 4px solid white;
}

footer img {
  position: absolute;
  display: inline-block;
  margin: 25px 0 0 25px;
  width: 200px;
  height: 50px;
}

footer div.footer_menu {
  margin-left: 210px;
  color: white;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  left: 822.5px;
  top: 37.5px;
  background: #339af0;
  color: white;
  padding: 5px;
}

[data-tooltip]:hover::after {
  opacity: 1;
}
